
/* Your CSS Code here. */
#eg{
	width:300px;
	background-color:light blue;
	brorder:15px ;
	border-color:solid blue color;
	padding:50px;
	margin:20px;
	text-content:This is a demo of box model, try to replicate this box model in Html & Css and pass all the test cases.;
	
}